<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Accompagner votre apprentissage</h2>
                    <h3 class="section-subheading text-muted">Automatisez les tâches administratives RH grâce à l'IA et gagnez du temps.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Masterclass</h4>
                                    <h4 class="subheading">Découvrez un cas d'usage à maîtriser en 1 heure</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Les masterclasses d'une heure sont des formations de démarrage rapide pour vous présenter l'utilisation des requêtes avec l'IA pour votre entreprise. Elles comprennent des scénarios pour différents types de profils, des exemples de cas d'utilisation et des requêtes potentielles pour les tâches quotidiennes effectuées par les dirigeants, les fondateurs ou les professionnels de la vente, du marketing, de la finance, du droit et des ressources humaines.

Vous apprendrez une variété de styles de prompts. Tous les prompts des masterclasses sont destinés à vous inspirer, mais ils peuvent finalement nécessiter des ajustements pour vous aider dans votre évolution professionnelle spécifique.

Pour commencer, choisissez la masterclass qui correspond le mieux à votre rôle. Utilisez la masterclass suggérées spécifique à vôtre métier comme inspiration pour vous aider à débloquer une nouvelle et puissante façon de travailler. - à partir de 200 €/ entreprise</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/a-captivating-and-diverse-representation-of-invest-O4WgcskkQmW2EyI8aOs64A-l31fU5TIQFGo_kxjA90rZw.jpeg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Conférence</h4>
                                    <h4 class="subheading">Intégrez en 1 journée l'IA dans vos stratégies RH</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Transformez votre approche professionnelle avec une conférence de 7 heures qui révolutionnera votre manière de travailler. Destiné aux exécutifs, fondateurs et professionnels avides d'efficacité, notre programme couvre une large gamme de scénarios et de tâches spécifiques à votre métier, avec des prompts variés - certains avec des éléments personnalisables, d'autres prêts à l'emploi. Plongez dans cet univers fascinant et redécouvrez votre potentiel professionnel. - à partir de 850 €/ entreprise </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/Designer (9).jpeg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Chatbot</h4>
                                    <h4 class="subheading">Automatisez instantanément 1 tâche administrative RH grâce à une IA dédiée</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Déléguez les tâches administratives à notre chatbot IA spécialement conçu pour votre entreprise. Personnalisé selon vos besoins spécifiques, il offre une automatisation efficace et une expérience utilisateur exceptionnelle. - 200 €/ mois</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Extensions IA</h4>
                                    <h4 class="subheading">Intégrez en options de nouvelles fonctionnalités à votre chatbot</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Transformez votre chatbot en un véritable assistant personnalisé. Adaptez-le aux besoins de vos utilisateurs, selon qu'ils soient candidats ou employés, grâce à nos extensions IA modulables. - 20€/ extension/ mois</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Séminaire
                                    Process
                                     Metiers</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
